:root {
    --dark-black: #070026;
    --dark-pink: #D3185C;
    --text-black: #212121;
    --sidebar-width: 275px;
}

.mt-30 {
    margin-top: 30px;
}
.mb-100 {
    margin-bottom: 100px;
}
.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.relative {
    position: relative;
}
.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px;
}
.section-padding-0-70 {
    padding-top: 0px;
    padding-bottom: 70px;
}
.section-padding-0-0 {
    padding-top: 0;
    padding-bottom: 0;
}
.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}
.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
}
.section-heading h2 {
    font-size: 36px;
    font-family: exoFontBold;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.section-heading > p {
    margin-bottom: 0;
    line-height: 2;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}

.dream-btn {
    border-radius: 5px;
    border: 2px solid #FFF;
    background: var(--dark-pink);
    box-shadow: -8px -8px 10px 0px #ffffff, 6px 5px 10px 3px rgba(54, 54, 54, 0.24);
    min-width: 235px;
    padding: 15px;
    font-size: 14px;
    font-family: exoFontSemiBold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;

}
.dream-btn:hover {
    background: #fff;
    color: var(--dark-pink);
    border-color: var(--dark-pink);
}
.side-feature-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
     font-family: exoFontBold;
}
.check-mark-icon {
    margin-right: 16px;
    width: 30px;
    height: 30px;
}
.foot-c-info {
    color: var(--text-black);
    font-weight: 500;
}
.welcome_area {
    position: relative;
    z-index: 1;
    width: 100%;
}
.flex {
    display: flex;
}
.welcome_area.demo2 {
    background: #fff;
}
.welcome-content {
    position: relative;
    z-index: 1;
}
.promo-section {
    margin-bottom: 30px;
}
.integration-link {
    padding: 8px 10px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    letter-spacing: 0.58px;
    font-size: 14px;
    line-height: 24px;
    color: #d5d5ea;
}
.integration-link:hover {
    color: #fff;
    text-decoration: none;
}
.integration-link:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom right, #766ee6 0, #3540b0);
    border-radius: 100px;
    opacity: 0.5;
}
.integration-link.light:before {
    background: #e8f3fd;
    opacity: 1;
}
.integration-link.light .integration-text {
    color: #3e94e4;
    font-weight: 600;
}
.integration-icon {
    margin: 0 5px 0 0;
}
.integration-text {
    margin: 0 7px 0 0;
}
.integration-link > * {
    position: relative;
    z-index: 2;
    display: inline-block;
    vertical-align: top;
}
@media (max-width: 480px) {
    .welcome-content {
        vertical-align: middle;
    }
    .welcome-content h1 {
        font-size: 27px !important;
    }
}
.promo-section {
    margin-bottom: 30px;
}
.gradient-text {
    font-weight: bold;
    display: inline-block;
    background-image: linear-gradient(135deg, #846ff4 0%, #f17674 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.gradient-text.cyan {
    background-image: linear-gradient(135deg, cyan 0%, cyan 100%) !important;
}
.welcome-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-family: exoFontExtraBold;
    span{
        color: var(--dark-pink);
        font-family: exoFontExtraBold;
    }
}
.welcome-content p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
}
.about-us-area {
    position: relative;
    z-index: 1;
}
.who-we-contant h4 {
    margin-bottom: 20px;
    font-size: 36px;
     font-family: exoFontBold;
}
.welcome-meter {
    position: relative;
    z-index: 1;
}
.services-block-four {
    position: relative;
    margin-bottom: 50px;
}
.services-block-four .inner-box {
    position: relative;
    padding-left: 120px;
}
.services-block-four .inner-box h3 {
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--dark-blue);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.services-block-four .inner-box .text {
    font-size: 14px;
    color: var(--text-black);
    margin-top: 8px;
    margin-bottom: 10px;
}
@media (max-width: 767px) {
    .services-block-four {
        margin-bottom: 40px;
    }
}
.demo-video.feat .services-block-four {
    padding: 25px 20px 15px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.feat .services-block-four .inner-box {
    position: relative;
    padding-left: 87px;
}
.icon-img-box {
    position: absolute;
    left: 0;
    top: 0;
}
.demo-video {
    position: relative;
}
.service_single_content {
    position: relative;
    z-index: 1;
    padding: 30px 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: #fff;
    border-radius: 15px;
    height: 100%;
}
.service_single_content .service_icon {
    margin-bottom: 20px;
    min-height: 56px;
    position: relative;
    display: inline-block;
}
.service_single_content:hover .service_icon:after {
    right: 0px;
    top: 0px;
}
.service_single_content h6 {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 17px;
}
.service_single_content p {
    margin-bottom: 0;
}
.bold {
    font-weight: 600 !important;
}
.bub-left {
    background: url(../images/benefits-bg.svg) no-repeat center left;
}
.ring-bg {
    background: url(../images/ring-bg.png) no-repeat center center;
    background-size: cover;
}
@media (max-width: 992px) {
    .mt-s {
        margin-top: 30px;
    }
}
.single_price_table_content {
    padding: 0 0px 40px;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
    border-radius: 6px;
    box-shadow: 0 5px 40px 0 rgb(0 0 0 / 11%);
}
.price_table_text {
    margin-bottom: 20px;
    padding: 40px 30px;
    text-align: right;
    background: url(../images/price.webp) no-repeat top right;
    background-size: 75%;
}
.free-7 {
    border: 1px solid #1d88ed;
    text-align: center;
    padding: 15px;
}
.free-7 span {
    color: #1d88ed;
    font-weight: 600;
}
.free-7 p {
    color: #1d88ed !important;
    margin-bottom: 0;
}
.price_table_text > h5 {
    font-size: 16px;
    margin-bottom: 20px;
}
.table_text_details {
    padding: 0 30px;
}
.table_text_details h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.table_text_details h3 span {
    font-size: 14px;
    background: #e8f3fd;
    padding: 5px 15px;
    position: relative;
    top: -5px;
    border-radius: 30px;
    color: #1d88ed;
}
.price_table_text > h1 {
    font-size: 40px;
     font-family: exoFontBold;
    color: #fff !important;
    margin-bottom: 10px;
    line-height: 1;
}
.table_text_details > p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}
.table_text_details > p {
    margin-bottom: 20px;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.subscribe {
    position: relative;
    padding: 50px 20px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 40px 0 rgb(0 0 0 / 11%);
}
.custom {
    position: absolute;
    left: -5px;
    width: 300px;
}
@media (max-width: 992px) {
    .custom {
        display: none;
    }
}
.button {
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: inline-block;
    padding: 14px 40px;
    font-size: 16px;
    z-index: 2;
    line-height: 1.25;
    color: #1d88ed;
    background: #fff;
    border: 2px solid #1d88ed;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 250ms all ease-in-out;
}
.button:hover {
    background: #25cbd3;
    color: #fff;
}
@media only screen and (max-width: 767px) {
    .welcome-content h1 {
        font-size: 34px;
    }
}

.light-version p {
    color: var(--text-black);
}
.light-version h1,
.light-version h2,
.light-version h3,
.light-version h4,
.light-version h5,
.light-version h6 {
    color: var(--dark-blue);
}
.demo-item {
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.3s ease-in;
    overflow: hidden;
    background: #fff;
    margin-bottom: 30px;
    border: 2px solid transparent;
}
@media (min-width: 1200px) {
    .demo .container {
        max-width: 1280px;
    }
}
.demo-item:hover {
    -webkit-box-shadow: 0 0 2rem -0.5rem #e44747;
    box-shadow: 0 0 2rem -0.5rem #e44747;
    border: 2px solid #e44747;
}
.preview-demo {
    margin: 20px 5px;
    background: #1d88ed;
    display: inline-block;
    padding: 15px 20px;
    width: 44%;
     font-family: exoFontBold;
    font-size: 14px;
    color: #fff;
    border-radius: 100px;
    text-transform: uppercase;
}
.preview-demo.v2 {
    color: #1d88ed;
    background: #fff;
    border: 2px solid #1d88ed;
}
.preview-demo i {
    margin-left: 10px;
}
.preview-demo:hover {
    color: var(--dark-blue);
}

h2 {
    color: #09229c;
}
