:root {
    --dark-black: #070026;
    --dark-pink: #D3185C;
    --text-black: #212121;
    --sidebar-width: 275px;
}
/* Form CSS start */
.resume-head{
    font-size: 42px;
    font-family: exoFontBold;
    text-align: center;
    color: var(--dark-blue);
    white-space: wrap;
    span {
        color: #D3185C;
        font-family: exoFontBold;
    }
}
.resume-head-para{
font-size: 18px;
color: var(--text-black);
margin: 0;
text-align: center;
margin-bottom: 35px;
}

/* FORMS */
#qbox-container {
    position: relative;
    overflow: hidden;
}

#steps-container .step {
    display: none;
}

#steps-container .step.active {
    display: block;
}

.form-step-heading {
    font-weight: 700;
    font-size: 32px;
    color: #333;
    text-align: center;
}

.form-step-head-para {
    margin-bottom: 35px;
    font-weight: 400;
    color: #555;
    font-size: 18px;
    text-align: center;
}

.select-resume {
    background: #ebecf0;
    box-shadow: -8px -8px 15px 0px rgba(255, 255, 255, 0.98), 9px 9px 19px -5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    padding: 5px;

    img{
        width: auto;
    }
}

.check-tick {
    position: absolute;
    right: -12px;
    top: -12px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    background-color: transparent;
    border-radius: 50%;
}
@media (max-width:576px) {
    .check-tick{
        right: 4px;
    }
}

.resume-tem-inp:checked~.check-tick {
    border: 3px solid var(--dark-pink);
    background: #ebecf0;
    box-shadow: -8px -8px 15px 0px rgba(255, 255, 255, 0.98), 9px 9px 19px -5px rgba(0, 0, 0, 0.25);
}

.resume-tem-inp:checked~.check-tick svg path {
    stroke: var(--dark-pink);
}

.addition-field-delete-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 25px;

    p{
        font-size: 24px;
        font-weight: 700;
        color: var(--text-black);
        margin: 0;
    }

    button{
        background-color: #ffced5;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: #ffb8c3;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            background-color: #e20022;

            & path{
                fill: #fff;
            }
        }
    }
}
/* Img preview and select start */
.previewdiv {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: -8px -8px 15px 0px rgba(255, 255, 255, 0.98), 9px 9px 19px -5px rgba(0, 0, 0, 0.25);
}

.imgpreviewdiv {
    position: absolute;
    background: #E9EAEB;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
}

.imgpreviewdiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageUploadButtonDiv {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    right: 15px;
    background: #ffffff;
    border: 1px solid var(--dark-pink);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.imageUploadButtonDiv:hover {
    background: #bfffd2;
}

/* Img preview and select end */
.resume-add-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    padding: 12px 30px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #aaa;
    font-size: 18px;
    font-weight: 600;
    margin-inline: auto;
    transition: all 0.25s ease-in-out;
}

.resume-add-more-btn:hover {
    color: #555;
    border-color: #555;
}

.resume-add-more-btn:hover svg path {
    fill: #555;
}

.resume-skill-inp {
    display: flex;
    align-items: center;
    gap: 5px;
}

.resume-skill-inp button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 2px;
    color: var(--dark-blue);
    font-family: exoFontBold;
    white-space: nowrap;
    background: linear-gradient(112deg, #dcdde2 4%, #e2e3e7 7%, #ebecf0 44%, #e4e6eb 44%);
            border: 2px solid #ffffff;
            box-shadow: -3px -8px 10px 0px #ffffff, 6px 5px 10px 3px rgba(54, 54, 54, 0.24);

            &:hover{
                box-shadow: -3px -8px 10px 0px #ffffff, 6px 5px 10px 3px rgba(54, 54, 54, 0.12);
            }
}

.resume-language-inp {
    display: flex;
    align-items: center;
    gap: 5px;
}

.resume-language-inp button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: 2px;
    color: var(--dark-blue);
    font-family: exoFontBold;
    white-space: nowrap;
    background: linear-gradient(112deg, #dcdde2 4%, #e2e3e7 7%, #ebecf0 44%, #e4e6eb 44%);
            border: 2px solid #ffffff;
            box-shadow: -3px -8px 10px 0px #ffffff, 6px 5px 10px 3px rgba(54, 54, 54, 0.24);

            
            &:hover{
                box-shadow: -3px -8px 10px 0px #ffffff, 6px 5px 10px 3px rgba(54, 54, 54, 0.12);
            }
}

.form-list-preview {
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 25px;
    list-style: none;
}

.form-list-preview li {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

.form-list-preview li:last-child {
    margin-bottom: 0;
}

.form-list-preview li button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--dark-black);
    background: #fff;
    box-shadow: -3px -8px 10px 0px #ffffff, 6px 5px 10px 3px rgba(54, 54, 54, 0.24);

}

.form-list-preview li button:last-child {
    border-color: var(--dark-pink);
    background: #fff;
    box-shadow: -3px -8px 10px 0px #ffffff, 6px 5px 10px 3px rgba(54, 54, 54, 0.24);
}

#q-box__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 35px;
}

button#prev-btn,
button#next-btn,
button#saveButton {
    display: block;
    border-radius: 5px;
    border: 2px solid #fff;
    background: #070026;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #fff;
    font-family: exoFontSemiBold;
    font-size: 20px;
    max-width: 200px;
    width: 100%;
    padding: 12px 15px;
}

button#saveButton {
    display: none;
}

button#prev-btn:hover,
button#next-btn:hover,
button#submit-btn:hover {
    background: #fff;
    border-color: #070026;
    color: #070026;
}

button#prev-btn:disabled {
    opacity: 0.3;
    cursor: not-allowed;
   pointer-events: none;
}

.progress {
    position: absolute;
    border-radius: 0px !important;
    top: 0;
    left: 0;
    width: 100%;
}

.q__question {
    position: relative;
}

.q__question:not(:last-child) {
    margin-bottom: 10px;
}

.question__input {
    position: absolute;
    left: -9999px;
}

.question__label {
    position: relative;
    display: block;
    line-height: 40px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    padding: 5px 20px 5px 50px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.question__label:hover {
    border-color: var(--dark-pink);
}

.question__label:before,
.question__label:after {
    position: absolute;
    content: "";
}

.question__label:before {
    top: 12px;
    left: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #ced4da;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.question__input:checked+.question__label:before {
    background-color: var(--dark-pink);
    box-shadow: 0 0 0 0;
}

.question__input:checked+.question__label:after {
    top: 22px;
    left: 18px;
    width: 10px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
}

.form-check-input:checked,
.form-check-input:focus {
    background-color: var(--dark-pink) !important;
    outline: none !important;
    border: none !important;
}


#success {
    display: none;
}

#success h4 {
    color: var(--dark-pink);
}

.back-link {
    font-weight: 700;
    color: var(--dark-black);
    text-decoration: none;
    font-size: 18px;
}

.back-link:hover {
    color: #82000a;
}

/* PRELOADER */
#preloader-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

#preloader {
    width: 120px;
    height: 120px;
    border: 6px solid #fff;
    border-bottom-color: var(--dark-pink);
    border-radius: 100%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#preloader-wrapper .preloader-section {
    width: 51%;
    height: 100%;
    position: fixed;
    top: 0;
    background: #f7f9ff;
    z-index: 1000;
}

#preloader-wrapper .preloader-section.section-left {
    left: 0;
}

#preloader-wrapper .preloader-section.section-right {
    right: 0;
}

.loaded #preloader-wrapper .preloader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #preloader-wrapper .preloader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #preloader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded #preloader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
}

@media (max-width: 560px) {
    #qbox-container {
        padding: 0;
    }
}

/* Form CSS end */

/* After sav or upload message start */
.success-message {
    text-align: center;
}

.success-message__icon {
    max-width: 75px;
}

.success-message__title {
    color: #070026;
    transform: translateY(0);
    transition: all 200ms ease;
    margin-top: 20px;
    font-size: 36px;
    font-weight: 700;
}


.success-message__content {
    color: #B8BABB;
    font-size: 20px;
    font-weight: 500;
    transform: translateY(0);
    transition: all 200ms ease;
    transition-delay: 50ms;
    margin-block: 15px 35px;
}

.icon-checkmark circle {
    fill: var(--dark-pink);
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: transform 200ms cubic-bezier(0.22, 0.96, 0.38, 0.98);
}

.icon-checkmark path {
    transition: stroke-dashoffset 350ms ease;
    transition-delay: 100ms;
}

/* After sav or upload message end */

/* Showing all the saved resumes start */
.resume-card-container {
    border-radius: 5px;
    color: #B3B8CD;
    position: relative;
    text-align: center;
    background: #FDFEFF;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 5px solid var(--dark-black);
}

.resume-card-container .top-area {
    padding: 15px;
}

.resume-card-container .pro {
    color: #231E39;
    background-color: #FEBB0B;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
    box-shadow: -8px -8px 10px 0px #ffffff, 6px 5px 10px 3px rgba(54, 54, 54, 0.24);
}

.resume-card-container .card-resume-img-div {
    border: 2px solid var(--dark-pink);
    box-shadow: -8px -8px 10px 0px #ffffff, 6px 5px 10px 3px rgba(54, 54, 54, 0.24);
    border-radius: 50%;
    padding: 7px;
    width: 135px;
    height: 135px;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: 10px;
}

.resume-card-container .card-resume-img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resume-card-container .card-name {
    font-size: 26px;
    font-weight: 700;
    color: #000;
    margin-bottom: 5px;
}

.resume-card-container .card-job-title {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    margin-bottom: 10px;
}

.resume-card-container .card-about {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    margin-block: 10px;
    display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resume-card-container .email-phone {
    font-size: 14px;
    font-weight: 500;
    color: #1c2c47;
    margin: 0;
}

.resume-card-container .card-buttons button,
.resume-card-container .card-buttons a {
    border-radius: 5px;
    padding: 10px 20px;
}

.resume-card-container .card-buttons button.edit-btn {
    background-color: transparent;
    border: 1px solid #0344cb;
}

.resume-card-container .card-buttons button.delete-btn {
    background-color: transparent;
    border: 1px solid #e20022;
}

.resume-card-container .card-buttons a.view-btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #cfaf00;
}

.resume-card-container .card-buttons button.edit-btn:hover {
    background-color: #0344cb;
}

.resume-card-container .card-buttons button.delete-btn:hover {
    background-color: #e20022;
}

.resume-card-container .card-buttons a.view-btn:hover {
    background-color: #cfaf00;
}

.resume-card-container .card-buttons button.edit-btn:hover svg path,
.resume-card-container .card-buttons button.delete-btn:hover svg path {
    fill: #fff;
}

.resume-card-container .card-buttons a.view-btn:hover svg path.first-path {
    fill: #fff
}

.resume-card-container .card-buttons a.view-btn:hover svg path {
    stroke: #fff
}


.resume-card-container .skills {
    background-color: #11145e;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
}

.resume-card-container .skills .skills-head {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume-card-container .skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
}

.resume-card-container .skills ul li {
    border: 1px solid #1dff1d;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-size: 16px;
    padding: 7px;
}

.resume-card-container .skills ul li.skill-item button {
    background-color: transparent;
    box-shadow: none;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-card-container .skills ul li.skill-item button svg {
    width: 12px;
}

.resume-card-container .skills ul li.skill-item button svg path {
    stroke: #fff;
}

.resume-card-container .skills ul li.skill-item button:first-child {
    background-color: #0344cb;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.resume-card-container .skills ul li.skill-item button:last-child {
    background-color: #e20022;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.create-button {
    position: fixed;
    padding: 15px;
    right: 35px;
    bottom: 35px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #e41a5d;
    border: 2px solid #FFF;
    z-index: 2;
    font-size: 76px;
    color: #fff;
    font-weight: 700;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 11px -2px rgba(0, 0, 0, 0.18), 0 4px 12px -7px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.create-button:hover::before {
    content: 'Create New';
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
}

.create-button:hover {
    width: 160px;
    border-radius: 50px;
    justify-content: start;
}


.back-to-button {
    position: fixed;
    padding: 15px;
    right: 35px;
    bottom: 35px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #176EDF;
    border: 2px solid #FFF;
    z-index: 2;
    font-size: 76px;
    color: #fff;
    font-weight: 700;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 11px -2px rgba(0, 0, 0, 0.18), 0 4px 12px -7px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.back-to-button:hover::before {
    content: 'Go to resumes';
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
}

.back-to-button:hover {
    width: 185px;
    border-radius: 50px;
    justify-content: start;
}

.step.contact_main_div{
    max-width: 991px;
    width: 100%;
    margin-inline: auto;
}

/* Showing all the resumes end */

/* Progress showing start */
.progress-step-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-block: 30px 80px;
  
    > li{
      position: relative;
      display: table-cell;
      text-align: center;
      font-size: 0.875rem;
      color:#6D6875;
      
      &:before {
        content: attr(data-step);
        display: block;
        margin: 0 auto;
        background: #ffffff;
        border:2px dashed #e6e6e6;
        color:#e6e6e6;
        width: 2rem;
        height: 2rem;
        text-align: center;
        margin-bottom: -4.2rem;
        line-height: 1.9rem;
        border-radius: 100%;
        position: relative;
        z-index: 1;
        font-weight:700;
        font-size:1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:after {
        content: '';
        position: absolute;
        display: block;
        background: #e6e6e6;
        width: 100%;
        height: .0625rem;
        top: 1rem;
        left: 50%;
      }
      &:last-child:after {
        display: none;
      }
      &.completed {
        color: var(--dark-pink);
        
        &:before {
          content:'\2713';
          color: var(--dark-pink);
          background:#ffd9ee;
          border:2px dashed var(--dark-pink);
        }
        &:after {
          background: var(--dark-pink);
        }
      }
      &.active {  
        color: var(--dark-pink);
        &:before {
          color: #FFF;
          border:2px dashed var(--dark-pink);
          background: var(--dark-pink);
        }
      }
    }
  }
  @media (max-width:576px) {
    .progress-step-bar {
      display: none;
    }
}
/* Progress Showing End */

/* Warning Modal Start */
.warning-modal {
    .modal-body {
        padding: 1.875rem;
        .info-img {
            display: block;
            margin-inline: auto;
        }
        .head {
            color: var(--dark-blue);
            text-align: center;
            font-size: 1.5rem;
            font-weight: 700;
            margin-block: .625rem;
        }
        .warning-para {
            color: var(--text-black);
            font-size: 1rem;
            font-weight: 400;
            margin: 0;
            text-align: center;
        }
        .actions-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.9375rem;

            .yes-btn {
                text-decoration: none;
                display: block;
                width: fit-content;
                align-items: center;
                border-radius: 0.5rem;
                background: var(--dark-blue);
                color: #fff;
                text-align: center;
                font-size: 1rem;
                font-weight: 700;
                padding: 0.875rem 2.1875rem;
                margin-top: 1.875rem;

                &:hover {
                    background: transparent;
                    color: var(--dark-blue);
                    border: 0.0625rem solid var(--dark-blue);
                }
            }
            .cancel-btn {
                text-decoration: none;
                display: block;
                width: fit-content;
                align-items: center;
                border-radius: 0.5rem;
                background: #e9f1ff;
                color: #666b6e;
                text-align: center;
                font-size: 1rem;
                font-weight: 700;
                padding: 0.875rem 2.1875rem;
                margin-top: 1.875rem;

                &:hover {
                    background: transparent;
                    color: #666b6e;
                    border: 0.0625rem solid #666b6e;
                }
            }
        }
    }
}
/* Warning Modal End */