:root {
    --dark-black: #070026;
    --dark-pink: #D3185C;
    --text-black: #212121;
    --white-clr: #ffff;
}
.pointer-cursor{
    cursor: pointer;
}
.document-upload-section {
    background: #ffd8e6;
    min-height: 200px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--dark-pink);
}

.document-upload-section .selectPdfLabel {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.document-upload-section .selectPdfLabel span{
color: var(--dark-pink);
}
.filename-of-pdf {
    background: rgba(0, 244, 73, 0.3);
    padding: 5px 20px;
    color: var(--dark-pink);
    border-radius: 50px;
    font-size: 14px;
    max-width: 100%;
    font-weight: 400;
    margin-bottom: 0.5rem;
    margin-top: 0.3rem;
    display: none;
}

.tools-button {
    border: 1px solid var(--dark-pink);
    background: var(--dark-pink);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: var(--white-clr);
    padding: 0.8rem 3rem;
}

.tools-button:hover {
    border: 1px solid var(--dark-pink);
    background: transparent;
    color: var(--dark-pink);
}

.pdf-to-text-output-area {
    width: 100%;
    border: 2px solid var(--dark-pink);
    border-radius: 15px;
    overflow: hidden;
    height: 350px;
    padding: 15px;
}

.document-upload-section img,
.document-upload-section span {
    cursor: pointer;
}

.pdf-to-text-output-area textarea {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 18px;
    color: var(--text-black);
    font-weight: 400;
}

.pdf-to-text-output-area textarea::-webkit-scrollbar {
    width: 10px !important;
}

.pincode-detail-input-div {
    padding: 25px;
}

.pincode-detail-input-div input {
    display: block;
    width: 400px;
    border: none;
    background: #ffa9c8;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--text-black);
    font-size: 21px;
    margin: 1.5rem auto;
    line-height: 1;
}

.pincode-detail-input-div input::placeholder{
    color: #333!important;
    font-size: 16px;
    line-height: 1;
}

.pincode-detail-input-div input:focus {
    box-shadow: none;
    outline: none;
}

.pincode-detail-input-div input::placeholder {
    color: #ddd;
}

.pincode-details-output-area {
    position: relative;
    width: 100%;
    border: 2px solid var(--dark-pink);
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
}

.pincode-details-output-area .pincode-numbering-system {
    background: #ffd8e6;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    border: 2px dashed var(--dark-pink);
    font-size: 20px;
    font-weight: 700;
    color: var(--dark-pink);
    margin-bottom: 1rem;
}

.pincode-details-output-area p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.pincode-details-output-area p span {
    font-weight: 600;
    color: var(--text-black);
}

.invalid-error {
    background: #ffd0d0;
    padding: 10px;
    color: #961a00;
    border-radius: 50px;
    text-align: center;
    font-size: 21px;
    max-width: 500px;
    margin: 0 auto;
    font-weight: 500;
}

.pincode-tool-details-div {
    margin-top: 3rem;
}

.pincode-tool-details-div p {
    font-size: 18px;
    color: #212121;
    margin-bottom: 15px;
}

.tools-snippets-img{
    width:100%;
}
.pincode-tool-details-div h3, .pincode-tool-details-div h2  {
    color: var(--text-black);
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 30px;
}
.pincode-tool-details-div h3, .pincode-tool-details-div h3  {
    color: var(--text-black);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 30px;
}
.pincode-tool-details-div h4 {
    font-size: 18px;
    color: var(--text-black);
    font-weight: 600;
}

.pincode-tool-details-div h5 {
    font-size: 18px;
    color: var(--text-black);
    font-weight: 600;
}
.pincode-tool-details-div .stepsSpan{
    color: #333;
    font-weight: 600;
}
.pincode-tool-details-div ul {
    padding-left: 20px;
}

.pincode-tool-details-div ul li {
    padding: 5px 0;
    font-size: 18px;
}

.pincode-tool-details-div a {
    color: #2f75ca;
    text-decoration: none;
}

.showing-pincode-details-head {
    font-size: 28px;
    font-weight: 700;
    color: var(--text-black);
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* Text transform CSS start */
.toolSubHeading{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-clr-2);
    text-align: center;
}

.text-transform-output-area {
    position: relative;
    width: 100%;
    border: 2px solid var(--dark-pink);
    border-radius: 15px;
    height: 250px;
    padding: 15px;
}

.text-count-div {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: -2.2rem;
    left: 0.8rem;
    background: var(--dark-pink);
    border-radius: 5px 5px 0 0;
    padding: 5px 15px;
    color: var(--white-clr);
}

.text-count-div p {
    margin: 0;
    color: var(--white-clr);
    font-size: 14px;
    font-weight: 400;
}

.text-count-div p span {
    font-weight: 500;
}

.document-upload-section img,
.document-upload-section span {
    cursor: pointer;
}

.text-transform-output-area textarea {
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
}

.text-transform-output-area textarea::-webkit-scrollbar {
    width: 10px !important;
}

.text-transforms-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.text-transforms-buttons button {
    border: 1px solid var(--dark-pink);
    background: var(--dark-pink);
    color: var(--white-clr);
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.5rem 2rem;
}

.text-transforms-buttons button:hover {
    border: 1px solid var(--dark-pink);
    background: transparent;
    color: var(--dark-pink);
}

.text-transforms-buttons button.clear-all-btn{
    border: 1px solid var(--dark-black);
    background: var(--dark-black);
    color: #fff;
}
.text-transforms-buttons button.clear-all-btn:hover{
    background: transparent;
    color: var(--text-black)
}

.transformCopyTxtBtn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
}

.transformCopyTxtBtn:hover {
    opacity: 0.5;
}

.text-transform-keyword-div {
    display: flex;
    flex-wrap: wrap;
}

.text-transform-keyword-div h2 {
    font-size: 3px;
    color: var(--white-clr);
}

/* Text transform CSS end */

/* Age Calculator Start */
.age-calculator-input-div {
    padding: 25px;
}

.age-calculator-input-div input {
    display: block;
    width: 400px;
    height: 45px;
    border: 2px solid var(--dark-pink);
    background: transparent;
    border-radius: 50px;
    padding: 10px 20px;
    color: var(--text-black);
    font-size: 21px;
}

.age-calculator-input-div input:focus {
    box-shadow: none;
    outline: none;
}

.age-calculator-input-div input::placeholder {
    color: var(--dark-pink);
}

.age-calculator-input-div label {
    font-size: 18px;
    color: var(--text-black);
    font-weight: 400;
    margin-bottom: 0.2rem;
}

#ageToolError1 {
    display: none;
}

.ageCalculateResetBtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetBtn {
    border: 1px solid var(--dark-black);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-black);
    padding: 0.8rem 3rem;
    margin-left: 1rem;
}

.resetBtn:hover {
    background: var(--dark-black);
    color: #fff;
}

.age-tools-button {
    border: 1px solid var(--dark-pink);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-pink);
    padding: 0.8rem 3rem;
}

.age-tools-button:hover {
    background: var(--dark-pink);
    color: #fff;
}

#disBD {
    text-align: center;
    border: 2px dashed #ddd;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.ageOmgText {
    color: var(--dark-black);
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0 0 0;
}

.wishingText {
    color: var(--dark-pink);
    font-size: 22px;
    font-weight: 500;
    margin: 5px 0 0 0;
}

.YearMonthDayDisplay {
    color: var(--black-clr-4);
    font-size: 28px;
    font-weight: 500;
    margin: 5px 0 0 0;
    text-align: center;
}

.YearMonthDayDisplay span {
    display: inline-flex;
    border: 2px solid var(--dark-pink);
    width: 75px;
    height: 75px;
    color: var(--dark-pink);
    text-align: center;
    margin: 0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.YearMonthDayDisplay .youAgeText {
    display: block;
    margin-bottom: 1rem;
    font-size: 32px;
    color: var(--text-black);
    margin-top: 1rem;
}

.hourMinSecDisplay {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 26px;
    color: var(--text-black);
}

.hourMinSecDisplay span {
    color: var(--dark-pink);
    font-weight: 600;
}

/* Age Calculator End */

/* Gradient Generator Start */
.range-slider__range {
    display: block;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 1px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #2c3e50;
}

.color-stop-slider-div {
    position: relative;
}

.color-stop-slider-div span {
    position: absolute;
    top: -30px;
    transform: translateX(-50%);
    font-size: 10px;
    color: #fff;
    background: #2c3e50;
    padding: 2px 8px;
    border-radius: 2px;
    display: none;
    opacity: 0;
}

.color-stop-slider-div:hover span {
    opacity: 1;
}
.gradient-main-box{
    height: 250px;
    padding: 15px;
    width: 100%;
    display: block;
    box-shadow: inset rgba(0, 0, 0, 0.075) 0 0 0 1px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.gradient-main-box .copy-btn{
width: 32px;
height: 32px;
background-color: #fff;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
border: none;
outline: none;
opacity: 1;
transition: all 0.25s ease-in-out;
}
.gradient-main-box .copy-btn img{
    transition: all 0.25s ease-in-out;
}
.gradient-main-box .copy-btn:hover img{
    transform: scale(0.9);
}
.generate-gradient-buttons-div {
    height: auto;
    padding: 15px;
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.generate-gradient-buttons-div label{
    font-size: 18px;
    font-weight: 500;
    color: #6f6f6f;
    text-align: center;
    display: block;
}
.generate-gradient-buttons-div button{
    display: block;
    border: 1px solid var(--dark-pink);
    background: var(--dark-pink);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: var(--white-clr);
    padding: 0.8rem 3rem;
    margin-inline: auto;
    margin-top: 25px;
}
.generate-gradient-buttons-div button:hover{
    border: 1px solid var(--dark-pink);
    background: transparent;
    color: var(--dark-pink);
}
.generated-gradient-code{
background-color: #ffd8e6;
padding: 5px 10px;
width: fit-content;
text-align: center;
margin-inline: auto;
border-radius: 2px;
font-size: 16px;
color: var(--dark-pink);
font-weight: 500;
}
.total-color-label{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #6f6f6f;
    white-space: nowrap;
}
.color-stop-container{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-block: 20px;
}
.color-stop-slider-div{
    width: 100%;
}
.custom-color-input{
    width: 75px;
    border-radius: 2px;
    display: block;
    border: none;
    overflow: hidden;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
#colorCount{
    display: block;
    width: 50px;
    height: 35px;
    padding: 10px;
    text-align: center;
    margin-inline:auto ;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-black);
    margin-top: 5px;
    outline: none;
}
#colorCount::-webkit-outer-spin-button,
#colorCount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Gradient Generator Start */

/* PX rem em Start */
.px-rem-em-converter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    max-width: 768px;
    margin-inline: auto;
}

.px-rem-em-converter label {
    display: block;
    text-align: center;
    color: var(--dark-pink);
    font-size: 24px;
    font-weight: 700;
    width: 100%;
}

.px-rem-em-converter div {
    position: relative;
    width: 100%;
    margin-top: 5px;
}

.px-rem-em-converter span {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

.px-rem-em-converter div input {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0.5px 1px rgba(27, 27, 27, .07), 0 1px 2px rgba(27, 27, 27, .07), 0 2px 4px rgba(27, 27, 27, .07), 0 4px 8px rgba(27, 27, 27, .07), 0 8px 16px rgba(27, 27, 27, .07), 0 16px 32px rgba(27, 27, 27, .07);
    height: 3.3rem;
    border-radius: 2px;
    border: 0.03125rem #e6e6e6;
    font-size: 18px;
    text-align: center;
    outline: none;
    color: #333;
    padding-inline: 15px 45px;
}

.px-rem-em-converter div input::-webkit-outer-spin-button,
.px-rem-em-converter div input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.px-rem-em-converter div input[type=number] {
    -moz-appearance: textfield;
}

.px-rem-em-converter a {
    text-decoration: none;
    color: var(--dark-pink);
    font-size: 32px;
    font-weight: 800;
    height: 100%;
    margin-top: 35px;
}

.default-font-setup-div p {
    margin: 35px auto 20px auto;
    max-width: 420px;
    font-size: 16px;
    text-align: center;
}

.default-font-setup-div .custom-input {
    position: relative;
    background: #fff;
    box-shadow: 0 16px 32px rgba(27, 27, 27, .07), 0 8px 16px rgba(27, 27, 27, .07), 0 4px 8px rgba(27, 27, 27, .07), 0 2px 4px rgba(27, 27, 27, .07), 0 1px 2px rgba(27, 27, 27, .07), 0 0.5px 1px rgba(27, 27, 27, .07);
    border-radius: 2px;
    width: 160px;
    height: 40px;
    margin-bottom: 48px;
    margin-inline: auto;
    display: flex;
}

.default-font-setup-div .base-div {
    background: #ffd8e6;
    color: var(--dark-pink);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 100%;
}

.default-font-setup-div .input-div .input-tag {
    text-align: center;
    max-width: 80px;
    border: none;
    color: #333;
    outline: none;
    box-shadow: none;
    padding-inline: 10px;
}
.default-font-setup-div .input-div .input-tag::-webkit-outer-spin-button,
.default-font-setup-div .input-div .input-tag::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.default-font-setup-div .input-div .input-tag[type=number] {
    -moz-appearance: textfield;
}

.default-font-setup-div .custom-input .edit-pen {
    position: absolute;
    left: -12px;
    top: -12px;
    font-size: 20px;
    color: var(--dark-pink);
    cursor: pointer;
}
/* Px rem em End */

/* Webp converter start */
.webp-converter-upload {
    position: relative;
    overflow: hidden;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-height: 300px;
    height: 100%;
}

.webp-converter-output {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.webp-converter-output img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.range-slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
}


#quality {
    -webkit-appearance: none;
    width: 100%;
}

#quality:focus {
    outline: none;
}

#quality::before,
#quality::after {
    position: absolute;
    top: 2rem;
    color: #333;
    font-size: 14px;
    line-height: 1;
    padding: 3px 5px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 4px;
}

#quality::before {
    left: 0;
    content: attr(data-min);
}

#quality::after {
    right: 0;
    content: attr(data-max);
}

#quality::-webkit-slider-runnable-track {
    width: 100%;
    height: 1.5rem;
    cursor: pointer;
    animate: 0.2s;
    background: linear-gradient(90deg, var(--dark-pink) var(--range-progress), #ffd8e6 var(--range-progress));
    border-radius: 0 0 1rem 1rem;
    border: 2px dashed var(--dark-pink);
    border-top: 0;
}

#quality::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 0.25rem solid var(--dark-pink);
    box-shadow: 0 1px 3px rgba(0, 0, 255, .3);
    border-radius: 50%;
    background: #ffd8e6;
    cursor: pointer;
    height: 40px;
    width: 40px;
    transform: translateY(calc(-50% + 8px));
}

.quality-label {
    position: absolute;
    left: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #e7ffe7;
}

#tooltip {
    position: absolute;
    top: -2.25rem;
}

#tooltip span {
    position: absolute;
    text-align: center;
    display: block;
    line-height: 1;
    padding: 0.125rem 0.5rem;
    color: #fff;
    border-radius: 0.125rem;
    background: var(--dark-pink);
    font-size: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}

#tooltip span:before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: var(--dark-pink);
}
/* Webp converter start */

/* Animation.css preview start */
.animate-preview-output-area {
    position: relative;
    width: 100%;
    border: 2px solid var(--dark-pink);
    border-radius: 0 15px 15px 15px;
    padding: 15px;    
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    #animatedText{
        font-size: 24px;
        font-family: exoFontBold;
        color: var(--text-black);
        letter-spacing: 5px;
    }
}

.text-select-divs {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 5px;
    top: -2.2rem;
    left: -2px;
    background: currentColor;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    color: var(--white-clr);
}


.text-select-divs select {
  background-color: var(--dark-pink);
  color: #fff;
  font-size: 16px;
  border: 1px solid var(--dark-pink);
  border-radius: 5px 5px 0 0;
  padding: 6px 5px;
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.animation-preview-code-box{
display: flex;
justify-content: space-between;
align-items: center;
gap: 8px;
width: 100%;
background: #d3185d14;
color: var(--text-black);
font-size: 14px;
font-weight: 500;
border: 1px solid var(--dark-pink);
border-radius: 5px;
padding: 6px 15px;

code{
    font-size: 14px;
    color: var(--dark-pink);
    font-weight: 600;
    word-break: break-all;
}
}

.animation-preview-code-box  .animate-preview-copy-btn {
   
    cursor: pointer;
}

.animation-preview-code-box .animate-preview-copy-btn:hover {
    opacity: 0.5;
}

.animate-code-para{
font-size: 16px;
margin-block: 15px 10px;
b{
    color: var(--dark-pink);
}
}
.copy-div{
    position: relative;
}
.copy-noty-div {
    position: absolute;
    right: 20px;
    top: 0px;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 700;
    background: transparent;
    color: transparent;

    &.codeCopied {
        animation: copied 6s;
    }


}
@keyframes copied {
    from {
        background: var(--dark-black);
        color: #fff;
    }
    to {
        background: transparent;
        color: transparent;
    }
}
/* Animation.css preview end */