@media (max-width:992px) {
    .YearMonthDayDisplay .youAgeText {
        font-size: 28px;
    }

    .YearMonthDayDisplay {
        font-size: 24px;
    }

    .YearMonthDayDisplay span {
        width: 50px;
        height: 50px;
        font-size: 24px;
    }

    .hourMinSecDisplay {
        font-size: 24px;
    }
}

@media (max-width:448px) {
    .pincode-detail-input-div input {
        width: 100%;
    }

    .age-calculator-input-div input {
        width: 100%;
    }

    .ageCalculateResetBtnDiv {
        display: block;
    }

    .ageCalculateResetBtnDiv button {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .ageCalculateResetBtnDiv .resetBtn {
        margin-top: 8px;
    }

    .YearMonthDayDisplay {
        font-size: 16px;
    }

    .YearMonthDayDisplay span {
        width: 45px;
        height: 45px;
        font-size: 22px;
    }
    .px-rem-em-converter{
        flex-direction: column;
        gap: 10px;
    }
    .px-rem-em-converter a{
        margin: 0;
    }
}
