.texteditor{
	position: static;
	border-radius: 0;
}
.texteditor-body{
	outline: none;
	position: relative;
}
.texteditor .dialog-toolbar .l-btn,
.texteditor .dialog-toolbar .textbox{
	margin: 0 1px;
}
.texteditor .dialog-toolbar .dialog-tool-separator{
	display: inline-block;
	float: none;
	vertical-align: middle;
}
.texteditor-fullscreen{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.texteditor-color{
	box-sizing: border-box;
	width: 150px;
	min-height: 132px;
}
.texteditor-color a{
	box-sizing: border-box;
	display: block;
	width: 18px;
	height: 18px;
	float: left;
	border: 1px solid #fff;
}
.texteditor-color a:hover{
	border: 1px solid #000;
}
.icon-bold{
	background: url('images/icons/bold.png') center center;
}
.icon-italic{
	background: url('images/icons/italic.png') center center;
}
.icon-strikethrough{
	background: url('images/icons/strikethrough.png') center center;
}
.icon-underline{
	background: url('images/icons/underline.png') center center;
}
.icon-justifyleft{
	background: url('images/icons/justifyleft.png') center center;
}
.icon-justifycenter{
	background: url('images/icons/justifycenter.png') center center;
}
.icon-justifyright{
	background: url('images/icons/justifyright.png') center center;
}
.icon-justifyfull{
	background: url('images/icons/justifyfull.png') center center;
}
.icon-insertorderedlist{
	background: url('images/icons/insertorderedlist.png') center center;
}
.icon-insertunorderedlist{
	background: url('images/icons/insertunorderedlist.png') center center;
}
.icon-outdent{
	background: url('images/icons/outdent.png') center center;
}
.icon-indent{
	background: url('images/icons/indent.png') center center;
}
.icon-forecolor{
	background: url('images/icons/forecolor.png') center center;
}
.icon-backcolor{
	background: url('images/icons/backcolor.png') center center;
}
.icon-image{
	background: url('images/icons/image.png') center center;
}
.icon-link{
	background: url('images/icons/link.png') center center;
}


/* Manual Updated Code */
.layout-panel-east {
    border-top: 1px solid #dfdfdf !important;
}

.layout-split-east {
    border-left: 0px solid #fff !important;
}

.wr-left .wr-lft-cont {
    width: 62px;
    margin: 0px;
}

#downloadOptions {
    position: absolute;
    top: 393px;
}

#imageOptions {
    position: absolute;
    top: 332px;
}

.fileupload {
    font-size: 19px;
    top: 0px;
    margin: 4px -16px 3px 15px;
}

#uploadForm,
#btnUploadPattern {
    font-size: 20px;
}

.icon-bgcolor {
    top: 43px;
}

.icon-bgpattern {
    top: 60px;
}

.icon-pendit {
    top: 50px;
}

.icon-shpeoption {
    top: 35px;
}

.icon-txtoptions {
    top: 28px;
}

.icon-imgoptions {
    top: 5px;
}

.icon-dwnldoptions {
    top: 18px;
}

.icon-eraseoption {
    top: -12px;
}

.icon-pdfOptions {
    top: 27px;
}

.l-btn {
    background: #05603A;
    color: #787878;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.dialog-toolbar .l-btn {
    background: #fff;
}

.slider-handle {
    background: #787878 !important;
}

#center>.panel {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.messager-window,
.window-shadow,
.window {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.panel {
    background: #A6F4C5;
}

#btnDisplayMenu {
    display: none;
}

.error-condition {
    color: #f90202;
}

.mouse-pointer {
    cursor: pointer;
}

.cursor-pointer {
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    z-index: 9000;
    display: none;
}

.eraser-cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    z-index: 9000;
    display: none;
}

#east .panel-body {
    background-color: #A6F4C5 !important;
}

#eastchild .tabs-wrap {
    background-color: #A6F4C5 !important;
}

#moderatorStage {
    position: relative;
    clear: both;
    text-align: center;
    visibility: hidden;
}

.tabs-header,
.tabs-tool {
    background-color: #fff;
}

.expand-user:hover {
    background-color: #fff !important;
}

/* added by Prashanth */
.pagination {
    color: #027A48;
    font-weight: normal;
    margin: 4px 0px 0px 0px !important;
    z-index: 9999;
    padding-left: 15px;
    padding-top: 4px;
}

.pagination .pagination-num {
    text-align: center;
    margin: 0px 5px;
}

.pagination table {
    text-transform: capitalize;
}

.l-btn:hover,
#ancAddBoard:hover {
    cursor: pointer;
}

.l-btn-left {
    margin: 0px;
    padding: 0;
}

.pagination td {
    padding-left: 5px;
}

.pagination .pagination-num {
    border-width: 0px;
}

.l-btn-left .l-btn-empty {
    width: 22px;
}

#penColorPick {
    top: 99px !important;
    position: absolute;
}

#bgPattern {
    top: 50px !important;
}

#eraseOptions {
    top: 238px !important;
}

#shapeOptions {
    top: 230px !important;
}

#textOptions {
    top: 271px !important;
}

#selectClass {
    position: relative;
    width: 75px;
    float: right;
    top: 7px;
    z-index: 100;
    height: 20px;
    background: #eee;
}

#coursesWindow {
    background: #eee !important;
}

#coursesWindow h2 {
    text-align: center;
    color: #676666;
    font-size: 18px;
}

#chat-input-box .textbox {
    -moz-border-radius: 17px !important;
    -webkit-border-radius: 17px !important;
    border-radius: 17px !important;
}

.wr-left {
    position: absolute;
    width: 100%;
    background: #A6F4C5;
    padding: 0px;
}

#shapeOptions .sub-tools {
    margin: -116px -10px 0px 0px;
}

.wr-rgt .items img {
    background: #fff;
}

.wr-rgt .items img:hover {
    background: #aaa;
}

html,
body {
    height: 100%;
}
