@media (min-width: 1200px) {
  .devSnptSection .devSnptTophcj {
    display: none;
  }
}
@media (max-width: 1200px) {
  .devSnptSection .devSnptTophcj {
    position: sticky !important;
    top: 62px;
    z-index: 6;
    background: white;
  }
  .devSnptSection .OutputAreaDiv {
    border-left: none;
  }
  .devSnptSection .OutputAreaDiv {
    height: 100vh;
  }
  .devSnptSection .OutputAreaDiv h3 {
    display: none;
  }
  .devSnptSection .AllTxtAreaDiv {
    display: none;
  }
  .devSnptSection .active {
    display: block;
  }
  .devSnptSection .devSnptTophcj {
    display: flex;
  }
  .devSnptSection .maindivdevSnptTxtPrvw {
    display: block;
    margin: 0;
    padding: 0;
  }
  .devSnptSection .devSnptTxtAreas {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .devSnptSection .devSnptPrvw {
    width: 100% !important;
  }
  .devSnptSection .AllTxtAreaDiv h4 {
    display: none;
    margin: 0;
    padding: 0;
  }
  .devSnptSection .devSnptTxtAreas {
    display: block;
    margin: 0;
    padding: 0;
  }
  .devSnptSection .AllTxtAreaDiv textarea {
    margin: 0;
  }
  .devSnptSection .devSnptTxtAreas .AllTxtAreaDiv:first-child textarea {
    margin: 0;
    margin-top: 0;
  }
  .devSnptSection iframe {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    height: calc(100vh - 35px);
  }
}
@media (max-width: 992px) {
  .hero-main-section {
    text-align: center;
  }
  .hero-main-section .slogan-area {
    margin-inline: auto;
  }
  .hero-main-section a {
    margin-inline: auto;
  }
  .each-category-section {
    text-align: center;
  }
  .course-main-div.deactive .course_lft_part {
    left: 0;
    border-right: 1px solid #fff;
    z-index: 999;
  }
  .course-main-div.deactive .course_lft_part .side-arrow {
    right: -12px;
    transform: rotate(0deg);
  }
  .course-main-div.deactive .course_right_part {
    padding-left: 0;
  }
  .course-main-div .course_lft_part {
    left: -260px;
    border-right: 15px solid #a6f4c5;
    z-index: 0;
  }
  .course-main-div .course_lft_part .side-arrow {
    right: -26px;
    transform: rotate(180deg);
  }
  .course-main-div .course_right_part {
    padding-left: 16px;
  }
  .sidebar-movie-list div {
    width: 25%;
  }
}
@media (max-width: 768px) {
  .custom-container {
    padding: 35px 25px;
  }
  .all-section-main-btns .btns-div {
    justify-content: start;
    gap: 10px;
    margin-block: 25px;
    flex-wrap: nowrap;
    overflow: auto;
  }
  .all-section-main-btns .btns-div::-webkit-scrollbar {
    width: 0;
  }
  .all-section-main-btns a {
    padding: 8px 15px;
    font-size: 16px;
  }
  footer .footer-each-links {
    text-align: center;
  }
  .single-movie-card-div {
    display: block;
  }
  .single-movie-card-div .movie-absolute-img-div {
    margin-inline: auto;
  }
  .single-movie-card-div .movie-label {
    max-width: 220px;
    margin-inline: auto;
  }
  .movie-details-div {
    text-align: center;
    margin: 25px 0 0 0;
  }
  .movie-details-div .movie-type {
    margin-inline: auto;
  }
  .movie-some-details {
    max-width: fit-content;
    margin-inline: auto;
    justify-content: center;
  }
  .movie-details-div .release-date {
    margin-inline: auto;
  }
}
@media (max-width: 576px) {
  .custom-container {
    padding: 35px 15px;
  }
  .hero-main-section .slogan-area {
    font-size: 14px;
  }
  .hero-main-section h1 {
    font-size: 40px;
  }
  .hero-main-section .para {
    font-size: 16px;
  }
  .hero-main-section a {
    font-size: 14px;
  }
  .hero-main-section .post-head {
    font-size: 30px;
    line-height: 42px;
  }
  .each-category-section .slogan-area {
    font-size: 14px;
  }
  .each-category-section h2 {
    font-size: 36px;
  }
  .each-category-section .para {
    font-size: 16px;
  }
  .each-category-section .marquee div a {
    font-size: 20px;
  }
  .each-category-section .marquee div a img {
    width: 28px;
    height: 28px;
  }
  .each-category-section .get-started-btn {
    font-size: 14px;
  }
  footer .subscribe-label {
    font-size: 18px;
  }
  footer .subscribe-input {
    flex-direction: column;
    gap: 15px;
  }
  footer .subscribe-input input {
    font-size: 16px;
    border-radius: 5px;
    padding-inline: 15px;
  }
  footer .subscribe-input input::placeholder {
    font-size: 16px;
  }
  footer .subscribe-input button {
    font-size: 16px;
    border-radius: 5px;
  }
  .all-tutorial-topics .blog-details-div {
    flex-direction: column;
    row-gap: 15px;
  }
  .all-tutorial-topics .blog-details-div div {
    gap: 15px;
  }
  .all-tutorial-topics .blog-details-div div p {
    font-size: 12px;
  }
  .sidebar-movie-list div {
    width: 50%;
  }
}
@media (max-width: 360px) {
  .navbar .navbar-brand {
    padding-inline: 15px 20px;
  }
  .navbar .nav-category-btn {
    padding-inline: 15px;
  }
}/*# sourceMappingURL=responsive.css.map */