:root {
  --color-green: #027a48;
  --color-black: #1f1f1f;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
}

.custom-container {
  padding: 50px;
}

.navbar {
  background: #a6f4c5;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar .navbar-brand {
  border-radius: 0px 50px 50px 0px;
  border: 1px solid var(--color-white);
  border-left: none;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
  max-width: fit-content;
  padding: 8px 48px 8px 20px;
  height: 100%;
}
.navbar .navbar-nav {
  margin-right: 6.5rem;
  gap: 20px;
}
.navbar .nav-item a {
  color: #004f2e;
  font-size: 18px;
  font-weight: 600;
}
.navbar .nav-item a:hover {
  color: var(--color-black);
}
.navbar .nav-category-btn {
  border-radius: 50px 0px 0px 50px;
  border: 1px solid var(--color-white);
  border-right: none;
  background: #12b76a;
  height: 100%;
  padding: 0 20px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar .nav-category-btn img {
  transition: all 0.25s ease-in-out;
}
.navbar .nav-category-btn:hover img {
  transform: rotate(180deg);
}

.hero-main-section {
  background: linear-gradient(180deg, #a6f4c5 0%, #fff 100%);
}
.hero-main-section .slogan-area {
  color: var(--color-green);
  font-family: "Finger Paint", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 2px;
  background: rgba(108, 233, 166, 0.25);
  padding: 8px 12px;
  width: fit-content;
  margin-bottom: 5px;
}
.hero-main-section h1 {
  color: var(--color-black);
  font-size: 52px;
  font-weight: 900;
  margin-bottom: 10px;
}
.hero-main-section h1 span {
  color: var(--color-green);
}
.hero-main-section .para {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 400;
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 0;
}
.hero-main-section a {
  text-decoration: none;
  border-radius: 4px;
  background: linear-gradient(90deg, #175cd3 0%, #32d583 100%);
  width: fit-content;
  padding: 20px 35px;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-top: 35px;
}
.hero-main-section a:hover {
  background: linear-gradient(90deg, #32d583 0%, #175cd3 100%);
}
.hero-main-section .post-head {
  font-size: 36px;
  max-width: 800px;
  width: 100%;
  margin-inline: auto;
  line-height: 48px;
  color: var(--color-green);
}
.hero-main-section .post-head span {
  color: var(--color-black);
}

.each-category-section.bg-light-green {
  background-color: #ecfdf3;
}
.each-category-section.bg-light-green .marquee {
  background-color: #d8ffe8;
}
.each-category-section .slogan-area {
  color: var(--color-green);
  font-family: "Finger Paint", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}
.each-category-section h2 {
  color: var(--color-black);
  font-size: 52px;
  font-weight: 900;
  margin-bottom: 10px;
}
.each-category-section h2 span {
  color: var(--color-green);
}
.each-category-section .para {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}
.each-category-section .marquee {
  width: 100%;
  padding: 12px 10px;
  margin-top: 15px;
  background-color: #ecfdf3;
  overflow: hidden;
  position: relative;
}
.each-category-section .marquee div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
}
.each-category-section .marquee div a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  color: var(--color-black);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.each-category-section .marquee div a div {
  border-radius: 50px;
  background: #DADADA;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1F1F1F;
  font-size: 18px;
  font-weight: 500;
}
.each-category-section .get-started-btn {
  text-decoration: none;
  border-radius: 4px;
  background: linear-gradient(90deg, #175cd3 0%, #32d583 100%);
  width: fit-content;
  padding: 20px 35px;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-top: 35px;
}
.each-category-section .get-started-btn:hover {
  background: linear-gradient(90deg, #32d583 0%, #175cd3 100%);
}

.all-section-main-btns .btns-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-block: 25px;
  flex-wrap: wrap;
}
.all-section-main-btns a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 15px 30px;
  background-color: #c3f9d9;
  border: 1px solid #c3f9d9;
  border-radius: 5px;
  color: var(--color-green);
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}
.all-section-main-btns a:hover {
  background-color: transparent;
}

footer {
  background: linear-gradient(180deg, #fff 0%, #a6f4c5 100%);
  padding-top: 50px;
  margin-top: 75px;
}
footer .subscribe-label {
  color: var(--color-black);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  display: block;
  margin-block: 35px 15px;
}
footer .subscribe-input {
  display: flex;
  align-items: center;
  max-width: 550px;
  width: 100%;
  margin-inline: auto;
}
footer .subscribe-input input {
  width: 100%;
  height: 50px;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px 0px 0px 5px;
  border: none;
  box-shadow: none;
  outline: none;
  padding-inline: 20px;
}
footer .subscribe-input input::placeholder {
  color: #777;
  font-size: 16px;
  font-weight: 400;
}
footer .subscribe-input button {
  background-color: #00702c;
  padding-inline: 35px;
  height: 50px;
  border-radius: 0 5px 5px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  box-shadow: none;
  border: none;
}
footer .subscribe-input button:hover {
  background-color: #00943b;
  color: #fff;
}
footer .footer-each-links {
  margin-inline: auto;
  width: fit-content;
}
footer .footer-each-links p {
  color: var(--color-green);
  font-size: 18px;
  font-weight: 500;
}
footer .footer-each-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-each-links ul li {
  margin-top: 15px;
}
footer .footer-each-links ul li a {
  text-decoration: none;
  color: #5c5f66;
  font-size: 16px;
  font-weight: 400;
}
footer .footer-each-links ul li a:hover {
  color: var(--color-black);
}
footer .footer-each-links ul li .footer-socia-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
footer .footer-each-links ul li .footer-socia-icons a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid var(--color-green);
  border-radius: 2px;
}
footer .footer-each-links ul li .footer-socia-icons a:hover {
  background-color: var(--color-green);
}
footer .footer-each-links ul li .footer-socia-icons a:hover svg path {
  fill: #fff;
}
footer .bottom-para {
  color: var(--color-black);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  border-top: 1px solid #61fea0;
  padding: 15px;
  margin-block: 35px 0;
}

.nav-offcanvas {
  background: #ecfdf3;
}
.nav-offcanvas .each-links-div {
  background-color: #c4ffdc;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  margin-bottom: 8px;
  border-radius: 2px;
  cursor: pointer;
}
.nav-offcanvas .each-links-div span {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-green);
}
.nav-offcanvas .each-links-div:hover span {
  color: var(--color-black);
}
.nav-offcanvas .each-links-div .canvas-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-offcanvas .each-links-div .nav-category-dropdown {
  margin-top: 0.3rem;
  display: none;
}
.nav-offcanvas .each-links-div .nav-category-dropdown a {
  display: block;
  border-bottom: 0.0625rem solid #a1fcc5;
  padding: 0.625rem 0 0.625rem 1.875rem;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-black);
  text-decoration: none;
}
.nav-offcanvas .each-links-div .nav-category-dropdown a:hover {
  color: var(--color-green);
}
.nav-offcanvas .each-links-div .nav-category-dropdown a:last-child {
  border: none;
}
.nav-offcanvas .each-links-div.active .nav-category-dropdown {
  display: block;
}
.nav-offcanvas .each-links-div img {
  transition: all 0.25s ease-in-out;
}
.nav-offcanvas .each-links-div.active .canvas-link img {
  transform: rotate(90deg);
}
.nav-offcanvas a {
  text-decoration: none;
}

.all-tutorial-topics a {
  text-decoration: none;
}
.all-tutorial-topics .each-topic-card {
  display: flex;
  border-radius: 5px;
  background: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  overflow: hidden;
  height: 100%;
}
.all-tutorial-topics .each-topic-card:hover {
  border: 1px solid rgba(7, 228, 136, 0.3647058824);
}
.all-tutorial-topics .each-topic-card .left-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 25px;
  text-align: center;
  border-right: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  min-width: 80px;
}
.all-tutorial-topics .each-topic-card .left-div p {
  margin-block: 10px 0;
  color: var(--color-black);
  font-size: 14px;
  font-weight: 600;
}
.all-tutorial-topics .each-topic-card .right-div {
  position: relative;
  padding: 10px 12px 10px 10px;
  width: 100%;
}
.all-tutorial-topics .each-topic-card .right-div h2 {
  color: var(--color-green);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 22px;
  max-height: 50px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.all-tutorial-topics .each-topic-card .right-div .details-div {
  position: absolute;
  left: 0;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}
.all-tutorial-topics .each-topic-card .right-div .details-div p {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #777;
  font-size: 12px;
  font-weight: 400;
}
.all-tutorial-topics .blog-details-div {
  background-color: #ecfdf3;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.all-tutorial-topics .blog-details-div div {
  display: flex;
  align-items: center;
  gap: 60px;
}
.all-tutorial-topics .blog-details-div div p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #555;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.all-tutorial-topics.snipets-main-div .each-topic-card {
  flex-direction: column;
}
.all-tutorial-topics.snipets-main-div .each-topic-card .left-div {
  background: transparent;
  padding: 10px;
  height: 100%;
}
.all-tutorial-topics.snipets-main-div .each-topic-card .left-div p {
  display: none;
}

.right_search_input {
  border-radius: 5px;
  border: 1px solid #eee;
  background: #fff;
  padding: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}
.right_search_input .gsc-search-box {
  margin: 0;
  padding: 0;
  width: 100%;
}
.right_search_input .gsc-control-cse {
  padding: 0;
  margin: 0;
  border: none;
  background: #fff;
}
.right_search_input .gsc-input-box {
  border: none;
  margin: 0;
}
.right_search_input input {
  border: none;
  margin: 0;
  padding: 0 0.5rem;
}
.right_search_input button {
  position: relative;
  display: block;
  background: #21b573;
  border: none;
  color: #fff;
  padding-inline: 30px;
  height: 50px;
  border: none;
  box-shadow: none;
  outline: none;
}
.right_search_input button svg {
  display: none;
}
.right_search_input button::before {
  position: absolute;
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none"><path d="M15.2996 5.40039C17.1426 5.40028 18.949 5.91462 20.5156 6.88552C22.0821 7.85643 23.3465 9.24534 24.1665 10.8959C24.9864 12.5465 25.3294 14.3931 25.1567 16.228C24.984 18.0629 24.3025 19.8132 23.189 21.2818L30.6536 28.7464C30.8929 28.9876 31.0325 29.3101 31.0445 29.6497C31.0564 29.9893 30.9399 30.3209 30.7181 30.5783C30.4964 30.8358 30.1857 31.0001 29.8481 31.0386C29.5105 31.077 29.1708 30.9867 28.8968 30.7858L28.7456 30.6544L21.281 23.1898C20.0292 24.1387 18.5696 24.7761 17.0228 25.0494C15.4759 25.3227 13.8863 25.224 12.3851 24.7614C10.884 24.2989 9.51447 23.4858 8.38971 22.3893C7.26495 21.2928 6.41724 19.9444 5.91663 18.4555C5.41601 16.9666 5.27687 15.38 5.51069 13.8267C5.7445 12.2734 6.34457 10.7981 7.26132 9.52257C8.17806 8.24704 9.38515 7.20797 10.7829 6.49119C12.1806 5.77442 13.7288 5.40052 15.2996 5.40039ZM15.2996 8.10039C13.39 8.10039 11.5587 8.85896 10.2084 10.2092C8.85815 11.5595 8.09958 13.3908 8.09958 15.3004C8.09958 17.2099 8.85815 19.0413 10.2084 20.3915C11.5587 21.7418 13.39 22.5004 15.2996 22.5004C17.2091 22.5004 19.0405 21.7418 20.3908 20.3915C21.741 19.0413 22.4996 17.2099 22.4996 15.3004C22.4996 13.3908 21.741 11.5595 20.3908 10.2092C19.0405 8.85896 17.2091 8.10039 15.2996 8.10039Z" fill="white"/></svg>');
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.right_search_input button:hover {
  background-color: #26e891;
}
.right_search_input .gsc-tabHeader {
  display: none;
}
.right_search_input .gsc-clear-button {
  display: none;
}
.right_search_input .gsib_a,
.right_search_input .gsib_b {
  vertical-align: bottom;
}

.side-category-div {
  border-radius: 5px;
  border: 1px solid #eee;
  overflow: hidden;
}
.side-category-div .head-part {
  background: #a6f4c5;
  padding: 10px;
  color: var(--color-green);
  font-size: 18px;
  font-weight: 600;
}
.side-category-div .each-category {
  text-decoration: none;
  display: block;
  height: 100%;
  background: #f4f4f4;
  border: 1px solid #f4f4f4;
  padding: 10px 5px;
  color: #555;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  word-break: break-all;
  text-transform: uppercase;
}
.side-category-div .each-category:hover {
  background-color: transparent;
  border: 1px solid rgba(7, 228, 136, 0.364705882);
  color: var(--color-green);
}

.side-topics-div {
  border-radius: 5px;
  border: 1px solid #eee;
  overflow: hidden;
}
.side-topics-div .head-part {
  background: #a6f4c5;
  padding: 10px;
  color: var(--color-green);
  font-size: 18px;
  font-weight: 600;
}
.side-topics-div ul {
  list-style-image: url("../images/icons/list-arrow.svg");
  padding-inline: 30px 10px;
}
.side-topics-div ul li {
  margin-top: 10px;
}
.side-topics-div ul li a {
  text-decoration: none;
  color: #555;
  font-size: 18px;
  font-weight: 400;
}
.side-topics-div ul li:hover {
  list-style-image: url("../images/icons/list-arrow-green.svg");
}
.side-topics-div ul li:hover a {
  color: var(--color-green);
}

.article-content-div {
  margin-top: 25px;
}
.article-content-div a {
  color: #0BA5EC;
  text-decoration: none;
}
.article-content-div img {
  margin-bottom: 25px;
}
.article-content-div p {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.article-content-div p code {
  color: #d63384;
  font-size: 18px;
  font-weight: 400;
}
.article-content-div h2 {
  color: #2c4e3a;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 30px;
}
.article-content-div h2 code {
  color: #d63384;
  font-size: 22px;
  font-weight: 800;
}
.article-content-div h2 strong {
  font-weight: 800;
}
.article-content-div h3 {
  color: var(--color-black);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 30px;
}
.article-content-div h3 strong {
  font-weight: 700;
}
.article-content-div h3 code {
  color: #d63384;
  font-size: 20px;
  font-weight: 600;
}
.article-content-div h4 {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
}
.article-content-div h4 strong {
  font-weight: 600;
}
.article-content-div h4 code {
  color: #d63384;
  font-size: 18px;
  font-weight: 600;
}
.article-content-div h5 {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
}
.article-content-div h5 strong {
  font-weight: 600;
}
.article-content-div h5 code {
  color: #d63384;
  font-size: 18px;
  font-weight: 600;
}
.article-content-div h6 {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
}
.article-content-div h6 strong {
  font-weight: 600;
}
.article-content-div h6 code {
  color: #d63384;
  font-size: 18px;
  font-weight: 600;
}
.article-content-div ul {
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none"><path d="M9.47826 1H1V12.8696H12.8696V8.91304" stroke="%23027A48" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.39062 6.65211L7.21671 9.4782L13.9993 2.13037" stroke="%23027A48" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  margin-bottom: 25px;
}
.article-content-div ul li {
  margin-top: 10px;
  padding-left: 5px;
}
.article-content-div .code-toolbar {
  font-size: 14px !important;
  margin-bottom: 25px;
}
.article-content-div .code-toolbar pre::-webkit-scrollbar {
  height: 8px;
}
.article-content-div .code-toolbar pre::-webkit-scrollbar-thumb {
  background: #027a48;
  border-radius: 50px;
}
.article-content-div .code-toolbar pre code span {
  font-family: "Courier Prime", monospace !important;
}
.article-content-div table {
  width: 100% !important;
  border-spacing: 0 !important;
  border-radius: 5px !important;
  overflow: hidden !important;
  margin-bottom: 25px;
}
.article-content-div table tr {
  display: table-row !important;
  border: none !important;
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid #eee !important;
}
.article-content-div table tr:hover {
  background-color: rgba(245, 245, 245, 0.4509803922) !important;
}
.article-content-div table tr td {
  display: table-cell !important;
  text-align: left !important;
  border: none !important;
  padding: 10px !important;
  color: #666 !important;
  font-size: 16px !important;
  word-break: break-all !important;
}
.article-content-div table tr td * {
  color: #666 !important;
  font-size: 16px !important;
  background: transparent !important;
  margin: 0 !important;
  text-align: left !important;
  word-break: break-all !important;
}
.article-content-div table tr:nth-child(odd) {
  background: #f5f5f5 !important;
}
.article-content-div table thead tr {
  border: none !important;
  border-bottom: 1px solid #00ff26 !important;
}
.article-content-div table th {
  background: #ecfdf3 !important;
  color: #027a48 !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  padding: 10px !important;
  text-align: left !important;
}
.article-content-div table th * {
  background: transparent;
  color: #027a48 !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  text-align: left !important;
}
.article-content-div table tr td {
  display: table-cell !important;
  text-align: left !important;
  border: none !important;
  padding: 10px !important;
  color: #666 !important;
  font-size: 16px !important;
  word-break: break-all !important;
  background: transparent !important;
  font-weight: 400 !important;
}
.article-content-div table tr td * {
  background: transparent;
  color: #666 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  margin: 0;
}
.article-content-div.movie-content-table table tr:first-child {
  border: none !important;
  border-bottom: 1px solid #00ff26 !important;
}
.article-content-div.movie-content-table table tr:first-child td {
  background: #ecfdf3 !important;
  color: #027a48 !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  padding: 10px !important;
  text-align: left !important;
}
.article-content-div.movie-content-table table tr:first-child td * {
  background: transparent;
  color: #027a48 !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  text-align: left !important;
}
.article-content-div.movie-content-table table tr td:last-child, .article-content-div.movie-content-table table tr td:nth-last-child(2) {
  text-align: center !important;
}
.article-content-div.movie-content-table table tr td:first-child {
  text-align: center !important;
}
.article-content-div.movie-content-table table tr td:last-child * {
  display: unset !important;
  text-align: center !important;
}
.article-content-div.movie-content-table h3, .article-content-div.movie-content-table h3 * {
  color: #333 !important;
}
.article-content-div blockquote {
  background: rgba(0, 255, 83, 0.2117647059) !important;
  padding: 15px;
  border-radius: 5px;
}
.article-content-div blockquote p:last-child {
  margin-bottom: 0;
}
.article-content-div blockquote h4 {
  margin-top: 0;
}

.contact_main_div {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.contact_main_div .contact_lft_main_div {
  background: transparent;
  border: 1px solid rgba(7, 228, 136, 0.364705882);
  border-radius: 10px;
  padding: 25px 15px;
}
.contact_main_div .contact_lft_main_div .quike_contact_div {
  margin-left: 0.8rem;
}
.contact_main_div .contact_lft_main_div .contact_lft_para {
  margin-bottom: 2rem;
}
.contact_main_div .contact_lft_main_div .contact_lft_para h3 {
  font-size: 24px;
  font-weight: 800;
  color: var(--color-black);
  margin-bottom: 10px;
}
.contact_main_div .contact_lft_main_div .contact_lft_para p {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin: 0;
}
.contact_main_div .contact_lft_main_div .quike_contact_img {
  background-color: #a6f4c5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
.contact_main_div .contact_lft_main_div .quike_contact_div h5 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-black);
  margin: 0;
}
.contact_main_div .contact_lft_main_div .quike_contact_div p {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin: 0;
}
.contact_main_div .contact_lft_main_div .quike_contact_div p a {
  text-decoration: none;
  color: #333;
}
.contact_main_div .contact_lft_main_div .contact_social_icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact_main_div .contact_lft_main_div .contact_social_icons div {
  background: transparent;
  border: 1px solid var(--color-green);
  border-radius: 2px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contact_main_div .contact_lft_main_div .contact_social_icons div:hover {
  background-color: var(--color-green);
}
.contact_main_div .contact_lft_main_div .contact_social_icons div:hover svg path {
  fill: #fff;
}
.contact_main_div .contact_formInputs label {
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
  padding-bottom: 10px;
}
.contact_main_div .contact_formInputs input {
  border: 1px solid rgba(7, 228, 136, 0.364705882);
  border-radius: 5px;
  padding: 15px;
  background: #e6f5ec;
  box-shadow: none;
  outline: none;
  font-size: 16px;
  color: #333;
}
.contact_main_div .contact_formInputs input::-webkit-outer-spin-button,
.contact_main_div .contact_formInputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.contact_main_div .contact_formInputs input[type=number] {
  -moz-appearance: textfield;
}
.contact_main_div .contact_formInputs input:focus {
  background: transparent;
  border: 1px solid var(--color-green);
  box-shadow: none;
  outline: none;
}
.contact_main_div .contact_formInputs input:not(:placeholder-shown) {
  background: transparent;
  border: 1px solid var(--color-green);
  box-shadow: none;
  outline: none;
}
.contact_main_div .contact_formInputs textarea {
  border: 1px solid rgba(7, 228, 136, 0.364705882);
  border-radius: 5px;
  padding: 15px 15px;
  background: #e6f5ec;
  box-shadow: none;
  outline: none;
  font-size: 16px;
  color: #333;
}
.contact_main_div .contact_formInputs textarea:focus {
  background: transparent;
  border: 1px solid var(--color-green);
  box-shadow: none;
  outline: none;
}
.contact_main_div .contact_formInputs textarea:not(:placeholder-shown) {
  background: transparent;
  border: 1px solid var(--color-green);
  box-shadow: none;
  outline: none;
}
.contact_main_div button.btn {
  background: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 0.75rem 1.4rem 0.75rem 1.4rem;
  margin-top: 35px;
}
.contact_main_div button.btn:focus {
  box-shadow: none;
  outline: none;
}
.contact_main_div button.btn:hover {
  background: #fff;
  border: 1px solid var(--color-green);
  color: var(--color-green);
}

.course-main-div.deactive .course_lft_part {
  left: -262px;
  border-right: 15px solid #a6f4c5;
  z-index: 0;
}
.course-main-div.deactive .course_lft_part .side-arrow {
  right: -26px;
  transform: rotate(180deg);
}
.course-main-div.deactive .course_right_part {
  padding-left: 14px;
}
.course-main-div .course_lft_part {
  width: 275px;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0;
  height: 100vh;
  border-right: 1px solid #fff;
  background: linear-gradient(180deg, #a6f4c5 0%, #fff 100%);
  z-index: 999;
  transition: all 0.25s ease-in-out;
}
.course-main-div .course_lft_part .side-arrow {
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999;
  transition: all 0.25s ease-in-out;
}
.course-main-div .course_lft_part .side-arrow:hover {
  filter: grayscale(50%);
}
.course-main-div .course_lft_part .heading-logo-div {
  position: sticky;
  top: 0;
}
.course-main-div .course_lft_part .heading-logo-div a {
  display: block;
  border-radius: 0px;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
  max-width: 100%;
  padding: 8px 48px 8px 20px;
  position: sticky;
  top: 0px;
}
.course-main-div .course_lft_part .heading-logo-div h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding: 10px;
  background-color: var(--color-green);
}
.course-main-div .course_lft_part .course_lft_scroll {
  height: 100vh;
  overflow-y: auto;
  margin: 0;
}
.course-main-div .course_lft_part .course_lft_scroll::-webkit-scrollbar {
  width: 0;
}
.course-main-div .course_lft_part .course_lft_scroll::-webkit-scrollbar-thumb {
  background: transparent;
}
.course-main-div .course_lft_part .course_lft_scroll div {
  box-shadow: 2px 2px 2px rgba(31, 31, 31, 0.0862745098);
  cursor: pointer;
}
.course-main-div .course_lft_part .course_lft_scroll div:hover {
  background: #a6f4c5;
  color: var(--color-green);
}
.course-main-div .course_lft_part .course_lft_scroll .active {
  background: #a6f4c5;
  color: var(--color-green);
}
.course-main-div .course_lft_part .course_lft_scroll a {
  text-decoration: none;
  color: var(--color-black);
}
.course-main-div .course_lft_part .course_lft_scroll h4 {
  font-size: 16px;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
.course-main-div .course_right_part {
  padding-left: 275px;
  transition: all 0.25s ease-in-out;
}

.policy-main-section h2 {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 700;
  margin: 25px 0 10px 0;
}
.policy-main-section p {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.policy-main-section p strong {
  font-weight: 500;
}
.policy-main-section p .link {
  color: #2f75ca;
  text-decoration: none;
}
.policy-main-section p .link:hover {
  color: #2665b3;
}

.htmlEntityAllCategoryHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}
.htmlEntityAllCategoryHeading h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--color-black);
  margin-bottom: 0;
}
.htmlEntityAllCategoryHeading a {
  text-decoration: none;
  border-radius: 4px;
  background: linear-gradient(90deg, #175cd3 0%, #32d583 100%);
  width: fit-content;
  padding: 10px 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.htmlEntityAllCategoryHeading a:hover {
  background: linear-gradient(90deg, #32d583 0%, #175cd3 100%);
}

.html-unicode-main-div {
  position: relative;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  user-select: none;
  padding: 0;
  height: 100%;
}
.html-unicode-main-div .symbol-card-overlay {
  position: absolute;
  background: #a6f4c5;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.html-unicode-main-div .symbol-card-overlay button {
  padding: 0.5rem 2rem;
  border: none;
  background: var(--color-green);
  border: var(--color-green);
  opacity: 1;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.html-unicode-main-div .symbol-card-overlay button:hover {
  border: 1px solid var(--color-green);
  color: var(--color-green);
  background: none;
}
.html-unicode-main-div:hover .symbol-card-overlay {
  display: flex;
}
.html-unicode-main-div .html-unicode-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-size: 42px;
  font-weight: 500;
  color: var(--color-green);
  background: #a6f4c5;
  min-width: 120px;
  border-radius: 5px;
  overflow: hidden;
}
.html-unicode-main-div .html-unicode-code-div {
  width: 100%;
  padding: 6px 10px;
}
.html-unicode-main-div .html-unicode-each-div {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.html-unicode-main-div .html-unicode-each-div .html-unicode-leftText-para {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
}
.html-unicode-main-div .html-unicode-inner-div .html-unicode-each-div:last-child {
  margin-bottom: 0;
}
.html-unicode-main-div .html-unicode-inner-div .html-unicode-rightText-div {
  position: relative;
  display: flex;
  align-items: center;
}
.html-unicode-main-div .html-unicode-inner-div .html-unicode-rightText-div p {
  color: var(--color-green);
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  border: none;
  text-align: right;
  background: #a6f4c5;
  padding: 5px 15px;
  border-radius: 5px;
}
.html-unicode-main-div .html-unicode-inner-div .copied-notify-absolute-div {
  position: absolute;
  right: 20px;
  top: 0px;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 10px;
  font-weight: 700;
  color: transparent;
}
.html-unicode-main-div .html-unicode-inner-div .copied-notify-absolute-div.copiedSuccefully {
  animation: copied 6s;
}
@keyframes copied {
  from {
    background: #717171;
    color: #fff;
  }
  to {
    background: transparent;
    color: transparent;
  }
}
.html-unicode-main-div .html-unicode-inner-div .html-unicode-value-text {
  position: relative;
  display: flex;
  align-items: center;
}
.html-unicode-main-div .html-unicode-inner-div .html-unicode-value-text input {
  color: var(--color-green);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  width: auto;
  text-align: right;
  width: 100%;
  background: transparent;
}
.html-unicode-main-div .html-unicode-inner-div .html-unicode-value-text img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0;
  margin-left: 8px;
  cursor: pointer;
}
.html-unicode-main-div .html-unicode-inner-div .single-html-unicode-each-div {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  width: 100%;
}
.html-unicode-main-div .html-unicode-inner-div .single-html-unicode-each-div .html-unicode-heading-text {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
}
.html-unicode-main-div .html-unicode-inner-div .single-html-unicode-each-div:last-child {
  margin-bottom: 0;
}
.html-unicode-main-div .html-unicode-inner-div .single-html-unicode-each-div:hover {
  background: #a6f4c5;
}
.html-unicode-main-div .html-unicode-inner-div .single-symbol-name-para-div {
  padding-inline: 10px;
}
.html-unicode-main-div .html-unicode-inner-div .symbolNamePara {
  border: 1px solid var(--color-green);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  color: var(--color-green);
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
}

.single-entity-image {
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 5px;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 200px;
  color: var(--color-green);
  line-height: 1;
  height: 100%;
}

.devSnptSection {
  border-left: 0.4rem solid #A6F4C5;
  border-right: 0.4rem solid #A6F4C5;
  border-bottom: 1rem solid #A6F4C5;
  border-top: none;
}
.devSnptSection .devSnptTophcj div {
  margin: 0 0.05rem;
  background: #A6F4C5;
  color: #027A48;
  padding: 0.5rem 0;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.devSnptSection .devSnptTophcj div:nth-child(1) {
  margin-left: 0;
}
.devSnptSection .devSnptTophcj div:nth-last-child(1) {
  margin-right: 0;
}
.devSnptSection .devSnptTophcj .active {
  background: #5fe695;
}
.devSnptSection .maindivdevSnptTxtPrvw {
  display: flex;
  margin: 0;
  padding: 0;
}
.devSnptSection .devSnptTxtAreas {
  width: 30%;
  display: block;
  margin: 0;
  padding: 0;
}
.devSnptSection .devSnptTxtAreas .AllTxtAreaDiv:first-child h4 {
  margin-top: 0;
}
.devSnptSection .devSnptPrvw {
  width: 70%;
}
.devSnptSection .OutputAreaDiv h3 {
  margin: 0;
  background: #A6F4C5;
  padding: 0.4rem 1rem;
  color: #027A48;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.devSnptSection .AllTxtAreaDiv textarea {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  min-height: 150px;
  font-size: 10pt;
  line-height: 14pt;
  font-weight: 200;
  padding: 10px;
  color: #333;
  border: 1px solid #cdcdcd;
  background: #fff;
  box-shadow: inset rgba(255, 174, 0, 0.1) 0 3px 10px;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  resize: vertical;
  width: 100%;
}
.devSnptSection .AllTxtAreaDiv h4 {
  margin: 0;
  background: #A6F4C5;
  color: #027A48;
  padding: 0.4rem 1rem;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.devSnptSection .AllTxtAreaDiv h4 .copy-value-area {
  position: relative;
}
.devSnptSection .AllTxtAreaDiv h4 .copy-value-area svg {
  width: 24px;
  height: 24px;
  margin: 0;
  cursor: pointer;
}
.devSnptSection .AllTxtAreaDiv h4 .copy-value-area .copied-notify-absolute-div {
  position: absolute;
  bottom: -25px;
  right: 0px;
  padding: 5px 15px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  color: transparent;
  z-index: 1;
}
.devSnptSection .AllTxtAreaDiv h4 .copy-value-area .copied-notify-absolute-div.copiedSuccefully {
  animation: codeCopied 6s;
}
@keyframes codeCopied {
  from {
    background: #027A48;
    color: #fff;
  }
  to {
    background: transparent;
    color: transparent;
  }
}
.devSnptSection .OutputAreaDiv {
  height: 100%;
  width: 100%;
  border-left: 0.5rem solid #A6F4C5;
  margin: 0;
  padding: 0;
}
.devSnptSection .OutputAreaDiv iframe {
  width: 100%;
  border-radius: 3px;
  height: calc(100% - 34.2px);
  padding: 0;
  margin: 0;
}
.devSnptSection .devSnptTophcj {
  display: flex;
}
.devSnptSection .ace_editor {
  height: 280px;
  width: 100%;
  font-size: 14px !important;
  font-weight: 300 !important;
  line-height: 1.5 !important;
  margin: 0 !important;
}
.devSnptSection .ace_scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.devSnptSection .ace_mobile-button {
  display: none;
}
.devSnptSection .ace-kuroir {
  background: #002451 !important;
}
.devSnptSection .ace_gutter {
  background: #00204b !important;
  color: #7388b5 !important;
}
.devSnptSection .ace-tomorrow-night-eighties {
  background: #002451 !important;
}

/* Movie Area start */
.all-movie-type {
  width: 100%;
  background: #ededed;
  padding: 0px 15px;
  overflow-x: auto;
  border-radius: 5px;
}

.all-movie-type::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.all-movie-type .nav {
  white-space: nowrap;
  flex-wrap: nowrap;
}

.all-movie-type a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  color: #333;
  padding: 15px;
  font-weight: 700;
  font-size: 16px;
}

.all-movie-type a:hover::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #32D583;
  border-radius: 50px;
}

.all-movie-type a.active::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #32D583;
  border-radius: 50px;
}

.latest-upcomming-movies {
  margin-top: 20px;
  width: 100%;
  padding: 0px;
  overflow-x: auto;
  border-radius: 5px;
}

.latest-upcomming-movies::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.latest-upcomming-movies .nav {
  white-space: nowrap;
  flex-wrap: nowrap;
}

.latest-upcomming-movies .nav button:first-child {
  border-radius: 5px 0 0 5px;
}

.latest-upcomming-movies .nav button:last-child {
  border-radius: 0 5px 5px 0;
}

.latest-upcomming-movies button {
  background: #ededed;
  border: none;
  color: #333;
  padding: 15px;
  border: 1px solid #ededed;
  border-bottom: 4px solid #ededed;
  font-weight: 700;
  font-size: 16px;
}

.latest-upcomming-movies button:hover {
  color: #027A48;
  background: #fff;
  border-bottom: 4px solid #32D583;
}

.latest-upcomming-movies button.active {
  color: #027A48;
  background: #fff;
  border-bottom: 4px solid #32D583;
}

.each-movie-card {
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
  border-radius: 5px;
  display: flex;
  gap: 12px;
  height: 100%;
}

.each-movie-card:hover {
  border: 1px solid rgba(7, 228, 136, 0.3647058824);
}

.each-movie-card .upcomming-latest-label {
  font-size: 10px;
}

.each-movie-card .movie-card-left {
  width: 120px;
  height: auto;
}

.each-movie-card .movie-card-left .card-movie-banner {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.each-movie-card .movie-card-left .card-movie-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.each-movie-card .movie-card-left .card-movie-banner:hover img {
  transform: scale(1.1);
}

.each-movie-card .movie-label {
  position: relative;
  width: 100%;
  align-items: center;
  height: auto;
  padding: 5px 5px 5px 10px;
  margin-top: 10px;
  letter-spacing: 0;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #2ED573;
  background-color: #2ED573;
  font-weight: 600;
  text-align: left;
  transition: all 0.25s ease-in-out;
}

.each-movie-card .movie-label:hover {
  background-color: transparent;
  color: #32D583;
}

.each-movie-card .movie-label img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.2);
  width: 35px;
  height: 35px;
  margin-left: 5px;
  border-radius: 5px;
  padding: 2px;
  background-color: #fff;
  z-index: 1;
}

.movie-card-right a {
  text-decoration: none;
  color: #333;
}

.movie-card-right .view-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  color: var(--color-green);
  height: 28px;
  padding-inline: 25px;
  border: 1px solid var(--color-green);
  border-radius: 5px;
}

.movie-card-right .view-btn:hover {
  background-color: var(--color-green);
  color: #fff;
}

.movie-card-right h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
}

.movie-card-right .movie-carecters {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 22px;
  max-height: 42px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}

.movie-card-right .release-date {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}

.movie-card-right .release-date span {
  font-weight: 600;
  margin-right: 5px;
}

.movie-card-right .director {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.movie-card-right .director span {
  font-weight: 600;
  margin-right: 5px;
}

.movie_card_show_more_class .show-more-item:nth-child(-n+10000) {
  display: block;
}

.single-movie-card-div {
  position: relative;
  display: flex;
  background: var(--color-black);
  border-radius: 10px;
  padding: 25px;
  overflow: hidden;
}

.movie-card-bg-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  opacity: 0.2;
  object-fit: cover;
}

.overlay-div {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, rgb(34, 34, 34) 0, rgba(34, 34, 34, 0.5) 100%);
  width: 100%;
  height: 100%;
}

.movie-image-and-btn-div {
  position: absolute;
  top: 25px;
  z-index: 1;
}

.single-movie-card-div .movie-absolute-img-div {
  position: relative;
  width: 220px;
  border-radius: 10px;
  padding: 2px;
  background-color: #fff;
}

.single-movie-card-div .movie-absolute-img-div img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upcomming-latest-label {
  position: absolute;
  display: flex;
  align-items: center;
  min-width: 80px;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  padding-inline: 5px 0;
  height: 20px;
  border-radius: 3px 0 0 0;
  background-color: #ffeb03;
  box-shadow: 5px 6px 8px 0 rgba(0, 0, 0, 0.4235294118);
  z-index: 1;
  transform: scale(1.18);
  top: -3px;
  left: -5.5px;
}

.upcomming-latest-label::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 100%;
  border-width: 3px 5px;
  border-style: solid;
  border-color: #cc9a18 #cc9a18 transparent transparent;
}

.upcomming-latest-label:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  right: -19px;
  top: 0;
  border-width: 10.5px 11px;
  border-radius: 3px;
  border-style: solid;
  border-color: #ffeb03 transparent #ffeb03 #ffeb03;
  z-index: -1;
}

.single-movie-card-div .movie-label {
  position: relative;
  width: 100%;
  align-items: center;
  height: auto;
  padding: 5px 5px 5px 10px;
  margin-top: 20px;
  letter-spacing: 0;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #2ed573;
  background-color: #2ed573;
  font-weight: 600;
  text-align: left;
  transition: all 0.25s ease-in-out;
}

.single-movie-card-div .movie-label:hover {
  background-color: transparent;
  color: #2ed573;
}

.single-movie-card-div .movie-label img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border-radius: 5px;
  padding: 2px;
  background-color: #fff;
  z-index: 1;
}

.movie-details-div {
  position: relative;
  width: 100%;
  height: auto;
  margin-left: 15px;
  z-index: 2;
}

.movie-details-div h1 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
}

.movie-details-div .movie-lang {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 8px;
}

.movie-details-div .movie-type {
  background-color: #fff;
  padding: 2px 15px;
  width: fit-content;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
}

.movie-some-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0;
}

.movie-some-details span {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding-right: 15px;
}

.movie-some-details span::after {
  position: absolute;
  content: "|";
  font-size: 18px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.movie-some-details span:last-child {
  padding: 0;
}

.movie-some-details span:last-child:after {
  content: none;
}

.movie-some-details span.sutable-for span {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ea2027;
  color: #fff;
  font-weight: 600;
  padding: 5px;
}

.movie-details-div .same-para {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 8px;
}

.movie-details-div .same-para span {
  font-weight: 600;
  margin-right: 5px;
}

.movie-details-div .cast {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 22px;
  max-height: 80px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.movie-details-div .cast span {
  font-weight: 600;
  margin-right: 5px;
}

.movie-details-div .release-date {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-black);
  margin-bottom: 0;
  background: #ffeb03;
  padding: 4px 20px;
  width: fit-content;
  border-radius: 5px;
  margin-top: 15px;
}

.movie-details-div .release-date span {
  font-weight: 600;
  margin-right: 5px;
}

.movie-all-details-table-heading {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin: 35px 0 15px 0;
}

.table-main-div {
  margin-top: 20px;
}

.table-main-div .table-responsive {
  overflow-x: auto;
}

.table-main-div table.table-area {
  width: 100%;
  border-spacing: 0;
  border-radius: 5px;
  overflow: hidden;
}

.table-main-div table.table-area thead {
  visibility: visible;
  position: relative;
}

.table-main-div table.table-area thead tr {
  border: none;
  border-bottom: 1px solid #fff;
}

.table-main-div table.table-area thead tr th {
  text-align: left;
  background: #d5fdd7;
  border: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 15px;
  white-space: nowrap;
}

.table-main-div table.table-area tr {
  display: table-row;
  border: none;
  border-radius: 0;
  text-align: left;
  border: none;
  border-bottom: 2px solid #fff;
}

.table-main-div table.table-area tr:hover {
  background-color: #d5fdd7;
}

.table-main-div table.table-area tr td {
  display: table-cell;
  border: none;
  padding: 12px 15px;
  color: #212121;
  font-size: 16px;
  font-weight: 400;
}

.sidebar-movie-list {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 5px;
  padding-bottom: 10px;
}

.sidebar-movie-list div {
  width: 50%;
  padding: 5px;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  overflow: hidden;
}

.sidebar-movie-list div:hover {
  border: 1px solid #027A48;
}

.sidebar-movie-list div img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-view-all-btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  border: 1px solid #027A48;
  background-color: transparent;
  color: #027A48;
  font-size: 16px;
  font-weight: 600;
  padding-inline: 15px;
  margin-inline: auto;
  border-radius: 5px;
}

.sidebar-view-all-btn:hover {
  background: #027A48;
  color: #fff;
}

/* Movie Area End */
/* Comment Area Start */
.panel-header {
  background-color: #027A48;
  color: white;
  padding: 10px 15px;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

#panel-title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.total_comments {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #fff;
  color: #027A48;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50%;
}

.panel-collapse {
  background-color: #fff;
  border: 1px solid #bbb;
  box-shadow: 0px 3px 5px -3px #00DB00;
  border-radius: 5px;
  margin-top: 25px;
}

.comment_inner_div {
  padding: 15px;
}

.comment_div {
  border-left: 6px solid #DEDEDE;
  padding: 10px;
  margin-bottom: 15px;
}

.comment-header {
  margin-bottom: 1%;
}

.commenter_details {
  display: flex;
  gap: 10px;
}

.commenter_name {
  font-size: 18px;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 0;
  text-transform: capitalize;
}

.commenter_date {
  color: #777;
  font-size: 12px;
  margin: 0;
}

.comment_text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #1f1f1f;
}

.comment_form_title {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

#comment_author,
form textarea {
  clear: both;
  display: block;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #777;
  resize: none;
}

#comment_author:focus,
textarea:focus {
  border-bottom: 1px solid #027A48;
  outline: none;
  box-shadow: none;
}

.comment_form {
  text-align: center;
}

.commentButton {
  border: 1px solid #027A48;
  background: #027A48;
  color: #fff;
  border-radius: 50px;
  padding: 0.5rem 2rem;
  margin: 1.5rem 0 0 0;
  outline: none;
  box-shadow: none;
}

.commentButton:hover {
  background: #027A48;
  color: #fff;
}

/* Comment Modal */
.comment_modal_head {
  color: #027A48;
  font-size: 20px;
  font-weight: 600;
}

.common_inputs {
  display: flex;
  margin-top: 1rem;
  border: 1px solid #bbb;
  border-radius: 5px;
  overflow: hidden;
  padding: 0.3rem;
}

.common_inputs input {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0 10px;
}

.common_inputs input:focus {
  box-shadow: none;
}

.pre_cmnt_sbmt_btn {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pre_cmnt_sbmt_btn .btn {
  background-color: transparent;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #027A48;
  padding: 0.5rem 4rem;
}

.pre_cmnt_sbmt_btn .btn:hover {
  background: #027A48;
  color: #fff;
}

/* Comment Area End */
.ft-container {
  display: none !important;
  opacity: 0 !important;
}/*# sourceMappingURL=style.css.map */
